[Unit]
Description = Web socket server gwss

[Service]
ExecStart=/home/pi/gwss/gwss_start.sh
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
